<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="dbContext1" connectionString="Data Source=DESKTOP-34RSAGO\\SQLEXPRESS;Initial Catalog=Eurospares;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="dbContext2" connectionString="Data Source=WIN10\\SQLEXPRESS;Database=Yamaha;Trusted_Connection=True;TrustServerCertificate=true;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
